<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Google Drive Docs</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="styles.css" type="text/css" />
  </head>
  <body>
    <div class="row">
      <div class="col-4">
        <div class="list-group list-group-flush" id="list-tab">
          <h1>Word Documents from your Google Drive.</h1>
          <h5>Click on the name to view the doc.</h5>
          <% allDocs.forEach((doc) => {%>
            <a onClick="displayDoc(event)" class="list-group-item docElement" id="<%=doc.id%>"aria-controls="Doc file"><%=doc.name%></a>
          <% }); %>
          <div class="logout-button">
            <button type="button" class="btn btn-outline-primary"><a href="/logout">Logout</a></button>
          </div>
        </div>
      </div>
      <div class="col-8" id="view-section">
        <h5>View Here</h5>
      </div>
    </div>
    <script>
      function displayDoc(event) {
        let fileID = event.target.id;
        let srcURL = "https://docs.google.com/file/d/" + fileID + "/preview?usp=drivesdk";
        var viewSection = document.getElementById("view-section");
        if(viewSection.firstElementChild !== null) {
          viewSection.removeChild(viewSection.firstElementChild);
        }
        const documentToBeDisplayed = document.createElement('iframe');
        documentToBeDisplayed.src = srcURL;
        documentToBeDisplayed.width = "100%";
        documentToBeDisplayed.height = "900px";
        viewSection.appendChild(documentToBeDisplayed);
        // alert(documentToBeDisplayed.src);
      }
    </script>
  </body>
</html>
