<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Drive App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css" type="text/css" />
  </head>
  <body jumbotron display-4>
      <div class="home">
        <h1>View all the documents from your Google Drive.</h1>
        <hr class="my-4">
        <a href="<%=authenticationURL%>" class="btn btn-danger btn-lg btn-block"><span class="fa fa-google-plus"></span>  Google</a>
      </div>
  </body>
</html>
